h1 {
	font: normal 50px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}
p {
	line-height: 20px;
	margin-bottom: 20px;
	text-align: left;
	
}

.Aboutme {
	text-align: left;
	margin: 120px;
	margin-top: 10px
}

a {
	text-decoration: none;
	color: #444;
}

a:hover {
	color: #02b8dd;
}

strong {
	font-weight: bold;
}



.wrapper {
	margin: 0 auto;
	padding: 0 20px;
	width: 940px;
}
header {
	height: 120px;
}


header nav {
	float: right;
	font-family: Helvetica;
}

header nav ul li {
	float: left;
	display: inline-block;
	margin-top: 50px;
}

header nav ul li a {
	color: #444;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	margin-right: 20px;
}